<div class="navbar-text">
    <span id="batteryInfo">
        <span id="batteryInfoIcon" data-bind="attr: { class: batteryIcon() }, visible: true"> </span>
        <span id="batteryInfoLevel" data-bind="attr: { title: 'phone battery level' }, text: batteryLevel, visible: true"> </span>
    </span>
</div>